:root {
    --color-white: rgb(255, 255, 255);
    --color-grey: rgb(230, 230, 230);
    --color-blue: rgb(40, 120, 240);
    --color-blue-darker: rgb(30, 110, 230);
}

/* general */
* {
    box-sizing: border-box;
    font-family: "Open Sans", "Segoe UI", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.linkList li {
    margin-bottom: 7px
}

a {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    text-decoration: none;
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

a, a:visited {
    color: var(--color-blue)
}

nav a:hover, a.selected {
    border-color: var(--color-white);
    cursor: pointer;
}

nav a, nav a:visited {
    color: var(--color-white);
}

nav a:last-of-type {
    margin-right: 0
}

a.noHoverUnderline:hover {
    border-color: rgba(0, 0, 0, 0)
}

p {
    text-align: justify
}

.border1 {
    border: 1px solid var(--color-grey)
}

figure {
    display: table-cell;
    padding-right: 5px;
    text-align: center;
}

figure img {
    margin: 20px 0 0 0;
    transition: all 100ms;
}

figure a:hover img {
    border: 3px solid var(--color-blue);
    transform: scale(0.95);
}

/* container */
nav {
    height: 50px;
    padding: 0 10px;
    width: 100%;
    user-select: none;
}

nav a {
    margin-right: 20px
}

nav.fixed {
    background-color: var(--color-blue);
    color: var(--color-white);;
    font-size: 25px;
    font-weight: 100;
    padding-top: 5px;
    position: fixed;
    text-align: center;
    z-index: 30;
}

nav.mobNav {
    background-color: var(--color-blue);
    color: var(--color-white);;
    padding-top: 5px;
    position: fixed;
    z-index: 20;
}

nav.asFixed {
    background-color: var(--color-blue);
    color: var(--color-white);;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
}

nav.asFixed img {
    height: 30px
}

#startMobNav {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

#startMobNav.rotate {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

#mobNavContainer {
    display: none;
    /*height: 400px;*/
    padding: 0;
    position: fixed;
    top: -400px;
    width: 100vw;
    z-index: 10;
}

#mobNavContainer a {
    display: block;
    height: 50px;
    transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    width: 100%;
}

#mobNavContainer a:nth-of-type(2n+1) {
    background-color: var(--color-blue-darker)
}

#mobNavContainer a:nth-of-type(2n) {
    background-color: var(--color-blue)
}

#mobNavContainer a:hover {
    border-color: rgba(0, 0, 0, 0)
}

#mobNavContainer a:hover {
    background-color: var(--color-white);;
    color: var(--color-blue-darker);
}

#mobNavContainer a table {
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 100%;
}

.mobNav img {
    height: 40px;
    margin: 0;
}

.mobNav a:last-of-type img {
    position: absolute;
    right: 10px;
}

section {
    background: url("/assets/img/logo.svg") 0;
    background-size: contain;
    overflow-x: auto;
    padding: 20px 10px;
    width: 100%;
}

section:nth-of-type(2n) {
    background-color: var(--color-grey)
}

section:last-of-type {
    height: calc(100vh - 50px)
}

section .inside {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.icon {
    height: 15px;
    margin: 0;
}

.logo {
    height: 30px;
    margin: 0;
    position: relative;
    top: 5px;
}

.tableContact {
    font-size: 15px
}

.tableContact .icon {
    position: relative;
    top: 2px;
}

.tableContact tr td {
    padding-right: 5px
}

td.picInside300.left {
    text-align: left
}

td.picInside300.right {
    text-align: right
}

td.picInside300 img {
    height: auto;
    max-height: 300px;
    max-width: 400px;
    width: 100%;
}

img.pic50 {
    height: 50px !important
}

img.pic150 {
    height: 150px !important
}

td.afterPic {
    padding-left: 20px
}

ul {
    padding-left: 30px
}

img {
    margin: 20px 0;
    user-select: none;
}

.news-container {
    display: flex;
}

.news-category {
    border: 1px solid var(--color-grey);
    margin-right: 5px;
    padding: 5px;
}

.news-category h1 {
    text-align: center;
}

.price-container {
    border-spacing: 0;
}

.price-container td {
    border-bottom: 1px solid var(--color-grey);
    padding: 5px;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
}

/* responsive */
@media (max-width: 1040px) {
    section .inside {
        width: 100%
    }
}

@media (max-width: 720px) {
    nav.fixed {
        display: none
    }

    .mobNav, #mobNavContainer {
        display: block
    }

    section .inside {
        width: 100%
    }
}

@media (max-width: 840px) {
    #news .picInside300 {
        display: none
    }
}

@media (max-width: 710px) {
    #home .inside table td {
        display: block
    }
}

@media (max-width: 670px) {
    section > table > tbody > tr > td {
        /* nur die oberen Tabellen, nicht die unteren Ebenen*/
        display: block;
        /*margin: 10px 0;*/
    }

    section:last-of-type {
        height: auto
    }

    #contact .picInside300 {
        display: none
    }

    td.picInside300.left, td.picInside300.right {
        text-align: center
    }
}

@media (max-width: 340px) {
    nav.asFixed {
        padding-top: 9px
    }

    nav.asFixed img {
        display: none
    }
}

@media (max-width: 440px) {
    img.pic150 {
        height: auto !important;
        width: 30vw;
    }

    td.picInside300, td.picInside300 img {
        height: auto;
        width: 100%;
    }

    figure {
        display: block;
        padding-right: 0;
        text-align: left;
    }
}
